.is-admin {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.main-dashboard {
  width: calc(100% - 220px);
    padding-left: 1rem;
  position: relative;
  // @include breakpoint-to('md-desktop') {
    
  // }
}

.dashboard-header {
  @include prefix(transition, all 0.5s linear, ('webkit', 'ms', 'moz', 'o'));
  h5 {
    text-transform: capitalize;
  }
  .is-button {
    &.is-clear {
      color: var(--primary-500);
      svg {
        fill: var(--primary-500);
      }
    }
  }
}

.forecast {
  position: relative;
  .forcast-cloud {
    position: absolute;
    left: -2rem;
    top: 0.5rem;
    img {
      max-width: 150px;
    }
  }
  .is-sunny {
    img {
      max-width: 100px;
      &.is-sm {
        max-width: 50px;
      }
    }
  }
}

.climate-data {
  ul {
    max-width: 450px;
    li {
      padding: 0.35rem 0;
      .fw-500 {
        color: var(--body-color);
        width: 40%;
      }
    }
  }
  &.knowledge-data {
    ul {
      li {
        p {
          min-width: 150px;
        }
      }
    }
    .buttons {
      .is-circle {
        &.is-sm {
          @include flex(0 0 26px);
          max-width: 26px;
          width: 26px;
          height: 26px;
          margin-left: 0.5rem;
          border-color: var(--primary-color);
          i {
            font-size: 1.1rem;
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

.fix-sidebar {
  max-width: 100%;
  width: 100%;
  position: initial;
  right: initial;
  height: initial;
  .sidebar-link-button {
    padding: 0.5rem 0.6125rem;
    font-weight: 600;
    i {
      font-size: $font-size-h5;
      line-height: 1;
    }
  }
  &.md-sidebar {
    max-width: 100%;
    width: 100%;
    left: initial;
  }
  .tab-list {
    &.is-bg {
      li {
        width: 50%;
        margin: 0;
        text-align: center;
      }
    }
  }
  @include breakpoint-to('xl-tab') {
    max-width: 310px;
    width: 100%;
    position: fixed;
    right: 0;
    .is-sticky-sidebar {
      height: 100vh;
    }
    &.md-sidebar {
      max-width: 280px;
      right: auto;
      left: 72px;
    }
  }
}

.main-content-wrap {
  &.lg-main-content {
    max-width: 100%;
    width: 100%;
    margin-bottom: 2rem;
    @include breakpoint-to('xl-tab') {
      max-width: calc(100% - 310px);
      width: calc(100% - 310px);
      margin-bottom: 0;
    }
  }
  &.md-main-content {
    max-width: 100%;
    width: 100%;
    margin-top: 2rem;
    @include breakpoint-to('xl-tab') {
      max-width: calc(100% - 264px);
      width: calc(100% - 264px);
    }
  }
}

.legend-list {
  li {
    margin-bottom: 0.5rem;
  }
  .is-circle {
    width: 12px;
    height: 12px;
    margin-right: 0.5rem;
    &.is-green {
      background-color: var(--secondary-100);
    }
    &.is-purple {
      background-color: tint($purple-light, 0.4);
    }
    &.is-orange {
      background-color: tint($orange-light, 0.5);
    }
  }
}

.forecast-listing {
  li {
    margin: 0.45rem 0;
  }
}

.project-list {
  .pm-card {
    cursor: pointer;
  }
  figure {
    @include flex-value(0 0 180px);
    max-width: 160px;
    width: 100%;
    position: relative;
    min-height: 120px;
    margin: 0;
    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}

.disaster-list {
  time {
    min-width: 80px;
  }
}

//knowlege
.knowlege-header {
  max-width: 500px;
  margin: 0 auto;
}

.knowledge-card {
  @include flex-wrap(wrap);
  figure {
    @include flex-value(0 0 100%);
    max-width: 100%;
    width: 100%;
    position: relative;
    min-height: 160px;
    margin-bottom: 1rem;
    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  .knowledge-content {
    padding-left: 0;
  }
  @include breakpoint-to('xl-phone') {
    figure {
      @include flex-value(0 0 150px);
      max-width: 150px;
      margin-bottom: 0;
    }
    @include flex-wrap(nowrap);
    .knowledge-content {
      padding-left: 1rem;
    }
  }
  .is-button {
    &.is-bg {
      background-color: var(--white-color);
      border: 1px solid var(--border-color);
      color: var(--body-600);
      padding: 0.35rem 1rem;
    }
  }
}

.story-card {
  cursor: pointer;
  @include prefix(
    transition,
    (all 0.2s ease-in-out),
    ('webkit', 'moz', 'ms', 'o')
  );
  figure {
    @include flex-value(0 0 100%);
    max-width: 100%;
    width: 100%;
    position: relative;
    min-height: 200px;
    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  &:hover {
    @include box-shadow(0 12px 14px rgba(9, 31, 65, 0.2));
  }
}

//glossary
.acc {
  &.is-after {
    .acc-list {
      font-size: $font-size-body;
      color: var(--body-color);
      padding: 0.6125rem 0;
      .acc-header {
        position: relative;
        padding-right: 3rem;
        i {
          color: var(--body-600);
        }
        font-weight: 400;
        &::after {
          position: absolute;
          right: 10px;
          content: 'expand_more';
          width: 24px;
          height: 24px;
          font-size: 1rem;
          border: 1px solid var(--primary-300);
          color: var(--primary-300);
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
      }
      &.is-active {
        .acc-header {
          &::after {
            content: 'expand_less';
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

.gloassary-figure {
  .figure-wrap {
    max-width: 25%;
    width: 100%;
  }
  figure {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    position: relative;
    min-height: 200px;
    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}

.notice-list {
  .notice-card {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &.is-active {
      border-color: var(--primary-300);
      background-color: var(--primary-100);
    }
  }
}

.aside-slider-wrap {
  margin: 0 auto;
}

.details-slider {
  position: relative;
  width: 100%;
  height: 500px;
  min-height: 500px;
  margin-bottom: 50px;
  transition: all 1.2s ease;
  &.slick-initialized {
    opacity: 1;
    visibility: visible;
  }
  .item {
    position: relative;
    height: 500px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--body-color);
      opacity: 0.3;
      z-index: 1;
    }
    video,
    iframe {
      display: block;
      position: absolute;
      top: 50% !important;
      left: 50% !important;
      min-width: 100% !important;
      min-height: 100% !important;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%) !important;
    }
    iframe {
      pointer-events: none;
    }
    figure {
      position: relative;
      height: 100%;
    }
    .slide-image {
      height: 100%;
      background-size: cover;
      background-position: center;
      // background-color:rgba(#c46897,.38);
      // background-blend-mode:overlay;
      transition: all 0.8s ease;
      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
    .image-entity {
      width: 100%;
      opacity: 0;
      visibility: hidden;
    }
  }
}

.details-header {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.details-content {
  .paragraph {
    p {
      margin-top: 1.5rem;
    }
  }
  .order-list {
    margin-top: 1.5rem;
    li {
      margin-top: 0.5rem;
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        @include radius(100%);
        background-color: var(--primary-300);
        margin-right: 0.5rem;
        display: inline-block;
      }
    }
  }
}

blockquote {
  background-color: var(--primary-100);
}

.social-icons {
  a {
    svg {
      max-width: 14px;
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.add-stage-form {
  max-width: 600px;
  margin: 60px auto;
  padding: 1rem;
  .pm-header {
    position: relative;
    .cross-icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .form-group {
    label {
      display: block;
    }
  }
  i {
    &.drag-icon {
      margin-left: 0 !important;
      &:hover {
        cursor: move;
      }
    }
  }
  .custom-upload-button {
    label {
      display: flex;
    }
  }
}

.pm-calendar {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  .month {
    color: var(--heading-color);
  }
  .month,
  .crop-column,
  .weeks-column {
    min-width: 100px;
    padding: 10px 5px;
    max-width: 100px;
    width: 100%;
    text-align: center;
    border-right: 1px solid var(--border-color);
  }
  .crop-column {
    background-color: var(--primary-100);
    padding: 5px;
    min-height: 42px;
  }
  .month-name,
  .weeks-name,
  .crop-name {
    max-width: 100px;
    min-width: 100px;
  }
  .month-row {
  }
  .weeks-row {
    .weeks-column {
      text-align: center;
      background-color: var(--bg-color);
    }
    .per-week {
      @include flex(0 0 25%);
      max-width: 25%;
      width: 100%;
      text-align: center;
      padding: 0 5px;
    }
  }
}
