.is-admin {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.main-dashboard {
  width: calc(100% - 220px);
    padding-left: 1rem;
  position: relative;
  // @include breakpoint-to('md-desktop') {
    
  // }
}

.dashboard-header {
  @include prefix(transition, all 0.5s linear, ('webkit', 'ms', 'moz', 'o'));
  h5 {
    text-transform: capitalize;
  }
  .is-button {
    &.is-clear {
      color: var(--primary-500);
      svg {
        fill: var(--primary-500);
      }
    }
  }
}



.fix-sidebar {
  max-width: 100%;
  width: 100%;
  position: initial;
  right: initial;
  height: initial;
  .sidebar-link-button {
    padding: 0.5rem 0.6125rem;
    font-weight: 600;
    i {
      font-size: $font-size-h5;
      line-height: 1;
    }
  }
  &.md-sidebar {
    max-width: 100%;
    width: 100%;
    left: initial;
  }
  .tab-list {
    &.is-bg {
      li {
        width: 50%;
        margin: 0;
        text-align: center;
      }
    }
  }
  @include breakpoint-to('xl-tab') {
    max-width: 310px;
    width: 100%;
    position: fixed;
    right: 0;
    .is-sticky-sidebar {
      height: 100vh;
    }
    &.md-sidebar {
      max-width: 280px;
      right: auto;
      left: 72px;
    }
  }
}

