input[type="date"].pm-control,
input[type="datetime-local"].pm-control,
input[type="month"].pm-control,
input[type="time"].pm-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

input,
textarea {
    &.pm-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: transparent;
        background-clip: padding-box;
        border: 1px solid var(--border-color);
        @include radius(30px);
        @include input-placeholder {
            color: var(--body-500);
            font-size: $font-size-small;
            text-transform: capitalize;
        }
        &:hover {
            background-color: var(--primary-100);
            color: var(--body-color);
        }
        &.is-valid {
            border-color: var(--primary-color);
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            &:focus {
                border-color: var(--primary-color);
                box-shadow: 0 0 0 0.2rem rgba(var(--primary-color), 0.25);
            }
        }
        &.is-invalid,
        &:invalid {
            border-color: var(--red-color);
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            &:focus {
                border-color: var(--red-color);
                box-shadow: 0 0 0 0.2rem rgba(var(--red-color), 0.25);
            }
        }
        &:focus {
            box-shadow: none;
            outline: none;
            -webkit-outline: none;
            // border-color: var(--primary-color);
            background-color: var(--primary-100);
            border-color: var(--primary-300);
        }
    }
}

.pm-group {
    margin-bottom: 1.2rem;
    label {
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: .5rem;
        display: block;
        color: var(--body-light);
        @include flexbox();
        @include justify-content(flex-start);
        @include align-items(center);
        i {
            margin-left: .5rem;
        }
        sup {
            color: var(--secondary-color);
        }
    }
    span {
        &.is-error {
            color: var(--red-color);
            margin-top: .5rem;
            display: none;
        }
    }
}

textarea {
    &.pm-control {
        min-height: 100px;
    }
}

.custom-input-group {
    @include flexbox();
    @include justify-content(space-between);
    border: 1px solid var(--border-color);
    @include align-items(center);
    background-color: var(--white-color);
    position: relative;
    height: calc(1.8em + 0.75rem + 2px);
    overflow: hidden;
    input {
        flex-grow: 1;
        border: none;
        display: initial;
        background-color: var(--white-color);
        width: 100%;
    }
    span {
        &.span-group {
            padding: 0 .5rem;
            padding-right: 0;
            text-align: center;
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(column);
            cursor: pointer;
            i {
                font-size: 1.1rem;
            }
        }
        &.start-date {
            padding-left: .5rem;
        }
        &.end-date {
            padding-left: .5rem;
        }
    }
    &.is-date {
        padding-right: 1.5rem;
        @include justify-content(flex-start);
        &::after {
            content: "arrow_drop_down";
            font-family: "Material Icons";
            position: absolute;
            right: 0;
            top: 50%;
            @include prefix(transform,
            translateY(-50%),
            ('webkit',
            'ms',
            'moz',
            'o'));
            font-size: 1.5rem;
            color: var(--heading-color);
            z-index: 99;
            pointer-events: none;
        }
        span {
            font-size: .775rem;
            &.span-group {
                i {
                    color: var(--body-light);
                    font-size: 1.1rem;
                }
            }
        }
    }
    &.is-bg {
        background-color: transparent;
        border: 0;
        input {
            min-height: calc(2.5rem + .75rem + 2px);
        }
        span {
            &.span-group {
                padding: 0 1rem;
                background-color: var(--heading-color);
                color: var(--white-color);
            }
        }
    }
    &:hover {
        background-color: var(--primary-100);
    }
    &:focus-within {
        border-color: var(--primary-300);
    }
}

.date-range {
    @include flexbox();
    @include justify-content(space-between);
    @include radius(5px);
    @include align-items(stretch);
    background-color: var(--white-color);
    .custom-input-group {
        border: none;
        border-radius: none;
        border-right: 1px solid var(--border-color);
        input {
            min-width: auto;
            padding-left: .5rem;
        }
    }
}