.pm-dropdown {
    position: relative;
    a {
        position: relative;
        @include prefix( transition, (all 0.5s ease-in-out), ("web", "moz", "ms", "o"));
        &.is-border,
        &.is-light {
            padding: 10px;
            @include radius(10px);
            padding-right: 2rem;
            display: inline-block;
            font-weight: 600;
            color: var(--heading-color);
        }
        &.is-circle {
            @include flexbox();
            padding: 0;
            @include radius(50%);
            svg {
                max-width: 20px;
            }
        }
        &.is-light {
            background-color: var(--primary-light);
            @include flexbox();
            @include justify-content(flex-start);
            @include align-items(center);
            i {
                font-size: 1rem;
                color: var(--primary-color);
                margin-right: 0.5rem;
            }
            &:hover {
                background-color: var(--primary-color);
                color: var(--white-color);
                i {
                    color: var(--white-color);
                }
            }
        }
        &.is-profile {
            figure {
                position: relative;
                max-width: 32px;
                img {
                    height: 32px;
                    width: 32px;
                    @include radius(50%);
                }
            }
        }
    }
    &.is-option {
        a {
            &.circle-icon {
                padding-right: 0;
                height: 24px;
                width: 24px;
                &::after {
                    display: none;
                }
                &:hover {
                    background-color: var(--primary-100);
                }
            }
        }
    }
    &.is-after {
        a {
            padding-right: 2rem;
            &::after {
                content: "\ea67";
                font-family: "IcoFont";
                position: absolute;
                top: 50%;
                @include prefix( transform, translateY(-50%), ("webkit", "ms", "moz", "o"));
                z-index: 2;
                right: 0;
                font-size: 1.2rem;
            }
        }
    }
    ul {
        &.pm-dropdown-menu {
            display: block;
            visibility: hidden;
            opacity: 0;
            @include prefix( transform, translateY(50px), ("webkit", "ms", "moz", "o"));
            @include prefix( transition, (all 0.5s ease-in-out), ("web", "moz", "ms", "o"));
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            min-width: 150px;
            background-color: var(--white-color);
            @include radius(8px);
            @include box-shadow(0px 6px 10px rgba(0, 0, 0, 0.1));
            .search-bar {
                padding: 0 1rem;
                .search-wrap {
                    span {
                        @include flex-direction(column);
                        @include align-items(center);
                        @include justify-content(center);
                    }
                }
            }
            li {
                margin: 0;
                a {
                    padding: 0.5rem 0.6125rem;
                    color: var(--heading-color);
                    @include prefix( transition, (all 0.4s ease-in-out), ("web", "moz", "ms", "o"));
                    @include flexbox();
                    @include justify-content(flex-start);
                    @include align-items(center);
                    font-weight: 500;
                    color: var(--heading-color);
                    i,
                    svg {
                        margin-right: 0.6125rem;
                        font-size: 1rem;
                        color: var(--body-color);
                        img {
                            max-width: 16px;
                        }
                    }
                    &::after {
                        content: none;
                    }
                    &:hover {
                        background-color: var(--secondary-100);
                    }
                }
                span {
                    // padding:.5rem .6125rem;
                    color: var(--heading-color);
                    @include prefix( transition, (all 0.4s ease-in-out), ("web", "moz", "ms", "o"));
                    @include flexbox();
                    @include justify-content(flex-start);
                    @include align-items(center);
                    font-weight: 600;
                    i,
                    svg {
                        margin-right: 0.6125rem;
                        font-size: 1rem;
                        color: var(--body-color);
                        img {
                            max-width: 16px;
                        }
                    }
                    &::after {
                        content: none;
                    }
                    &:hover {
                        background-color: var(--primary-light);
                    }
                }
                &:not(:last-child) {
                    border-bottom: 1px solid var(--border-color);
                }
            }
            &.is-before {
                &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent var(--white-color) transparent;
                    position: absolute;
                    left: 30px;
                    top: -10px;
                    @include box-shadow(0 10px 40px rgba(var(--heading-color), 0.2));
                }
            }
        }
    }
    &.is-light {
        ul {
            &.pm-dropdown-menu {
                min-width: 180px;
                li {
                    a {
                        font-weight: 400;
                        font-size: 0.8rem;
                    }
                    &.header {
                        font-weight: 600;
                        font-size: 0.875rem;
                        padding: 0.35rem 0.6125rem;
                        text-transform: capitalize;
                        color: var(--heading-color);
                    }
                }
            }
        }
    }
    &.is-right {
        ul {
            &.pm-dropdown-menu {
                right: 0;
                left: auto;
                &::before,
                &::after {
                    right: 10px;
                    left: auto;
                }
            }
        }
    }
    &.is-left {
        ul {
            &.pm-dropdown-menu {
                left: 0;
                &::before,
                &::after {
                    right: 10px;
                    left: auto;
                }
            }
        }
    }
    &.mlr-10 {
        margin: 0 10px;
    }
    &.is-notificaton-dropdown {
        ul {
            &.pm-dropdown-menu {
                li {
                    padding: .5rem;
                    a.is-circle {
                        @include flexbox();
                        padding: 0 !important;
                        @include radius(50%);
                        svg {
                            max-width: 20px;
                        }
                    }
                    &.list-header {
                        padding: .5rem;
                    }
                }
                p {
                    color: var(--heading-color);
                }
                min-width: 280px;
            }
        }
    }
    &.show-dropdown {
        ul {
            &.pm-dropdown-menu {
                display: block;
                opacity: 1;
                visibility: visible;
                top: 100%;
                transform: translateY(0);
                @include prefix(transform, (translateY(0)), ("web", "moz", "ms", "o"));
            }
        }
    }
}