dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
    padding: 0
}

ul dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    margin: 0;

    &.is-list {
        @include radius(5px);

        li {
            padding: .5rem .6125rem;
            position: relative;
            @include prefix(transing, (all .4s ease-in-out), ('web', 'moz', 'ms', 'o'));
            @include flexbox();
            @include justify-content(flex-start);


            figure {
                max-width: 55px;

                img {
                    border: 1px solid var(--border-color);
                }
            }

            span {
                &.counter {
                    padding: 0 8px;
                    @include radius(50%);
                    background-color: var(--primary-light);
                    color: var(--primary-color);
                    font-weight: 500;
                    margin-left: .5rem;
                    border: 1px solid var(--white-color);

                    &:hover {
                        background-color: var(--primary-color);
                        color: var(--white-color);
                    }

                }

                &.drag-icon {
                    display: inline-flex;
                    color: var(--body-color);
                    margin-right: .6125rem;
                }
            }

            .circle-icon {
                i {
                    font-size: 1rem;
                }

                &.svg {
                    img {
                        max-width: 22px;
                    }
                }
            }

            .list-content {

                p {
                    a {
                        text-transform: capitalize;
                        font-size: $font-size-small;
                    }
                }

                time {
                    color: var(--body-color);
                    display: block;
                    margin-top: .15rem;
                    font-size: $font-size-small;
                }

                a {
                    &.phone-number {
                        font-weight: 600;
                        color: var(--primary-color);
                        font-size: $font-size-small;


                    }
                }

                h6 {
                    margin-bottom: .6125rem;
                    font-weight: 600;
                }
            }


            &.list-header {
                @include justify-content(space-between);

                h5 {
                    text-transform: uppercase;
                    font-weight: 700;
                }

                i {
                    font-size: 1rem;
                    color: var(--primary-color);
                }
            }

            &.list-footer {

                a {
                    width: 24px;
                    height: 24px;
                    min-height: 24px;
                }
            }

            &.is-active {
                background-color: var(--secondary-100);
            }



        }

        &.is-border {
            li {
                &:not(:last-child) {
                    border-bottom: 1px solid var(--border-color);
                }
            }
        }


        &.is-after {
            li {
                position: relative;

                &::after {
                    content: 'expand_more';
                    margin-left: .6125rem;
                    content: 'chevron_right';
                    font-size: $font-size-h4;
                    font-family: 'Material Icons';
                    color: var(--body-color);
                    z-index: 99;
                    line-height: 1;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    color:var(--body-600);
                    @include prefix(transform, translateY(-50%), ('webkit','moz','ms','o'));
                }
            }

            &.is-check {
                li {
                    &::after {
                        content: none;
                        top: 7px;
                        font-size: 1.3rem;
                    }

                    &.is-active {
                        background-color: var(--primary-light);

                        &::after {
                            content: "check";

                        }

                        a {
                            background-color: var(--primary-light);
                            color: var(--primary-color);

                            a {
                                color: var(--primary-color);
                            }


                        }
                    }
                }
            }
        }

        &.is-plus {
            padding-left: 10px;

            li {
                position: relative;
                cursor: pointer;

                a {
                    margin-left: 2rem;
                    color: var(--heading-color);
                }

                &::before {
                    content: 'add_circle_outline';
                    font-size: 1.4rem;
                    font-family: 'Material Icons';
                    color: var(--primary-color);
                    z-index: 99;
                    line-height: 1;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }

                &.is-active {
                    background-color: var(--primary-light);

                    a {
                        color: var(--body-color);
                    }

                    &::before {
                        content: 'remove_circle_outline';
                        color: var(--body-color);

                    }
                }

                &.is-checked {
                    background-color: var(--primary-light);
                    color: var(--primary-color);

                    a {
                        color: var(--primary-color);
                    }

                    &::before {
                        content: "check";

                    }
                }
            }
        }

        &.is-drag {
            li {
                .drag-icon {
                    max-width: 20px;
                    margin-right: .6125rem;
                }

                &:hover {
                    cursor: move;
                }
            }
        }

        &.is-before {
            li {
                padding-left: 1.8rem;

                &::before {
                    content: 'check_circle_outline';
                    font-family: 'Material Icons';
                    color: var(--secondary-300);
                    z-index: 99;
                    line-height: 1;
                    position: absolute;
                    top: 7px;
                    left: 0;
                    font-size: 1.1rem;
                }
            }
            &.is-check-icon{
                li{
                    &::before{
                        content: 'check_circle'; 
                        font-size: 1.0975rem;
                        top:8px;
                    }
                }
            }
        }


    }



    &.is-checkbox {
        .custom-checkbox {
            width: 100%;
            margin: 0;

            label {
                color: var(--body-color);
            }
        }

        .check-content {
            @include flexbox();
            @include justify-content(flex-start);
            @include align-items(center);
            flex-grow: 1;

            i {
                margin-right: 5px;
                text-transform: initial;
            }

            b {
                text-transform: capitalize;
            }
        }

        li {
            &:hover {
                background-color: var(--secondary-200);
            }
        }
    }


}

.is-multi-list {
    .is-parent {
        .parent-header {
            padding: .5rem .6125rem;

            .custom-checkbox {
                margin: 0;

                label {
                    font-weight: 600;
                    font-size: .875rem;
                    text-transform: capitalize;

                    i {
                        margin-right: .5rem;
                    }
                }
            }
        }

        ul {
            li {
                padding-left: 1.5rem;
                padding-right: 1.5rem;


            }
        }
    }

    &.is-after {
        .is-parent {
            .parent-header {
                position: relative;

                &::after {
                    font-size: 1.4rem;
                    font-family: 'Material Icons';
                    color: var(--white-color);
                    z-index: 99;
                    line-height: 1;
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    @include flex-direction(column);
                    @include radius(100%);
                    content: 'add_circle_outline';
                    width: 20px;
                    height: 20px;
                    border: 1px solid var(--border-color);
                    margin-left: .6125rem;
                    font-size: 1rem;
                    position: absolute;
                    right: 7px;
                    top: 7px;
                    cursor: pointer;
                }

                &.is-active {
                    &::after {
                        content: 'remove_circle_outline';
                        border-color: var(--primary-color);
                    }
                }
            }
        }
    }

}

.is-chips {
    @include flexbox();
    @include align-items(center);

    .chips-item {
        @include radius(24px);
        border: 1px solid var(--border-color);
        @include flexbox();
        @include justify-content(flex-start);
        @include align-items(center);
        background-color: var(--white-color);
        padding: .25rem .5rem;
        cursor: pointer;
        font-size: $font-size-small;
        margin-bottom: .5rem;

        .chips-icon {
            margin-right: .25rem;

            &.is-circle {
                width: 14px;
                height: 14px;
                @include radius(50%);
                background-color: var(--bg-color);
            }

            &.is-line {
                width: 18px;
                height: 1.5px;
                background-color: var(--bg-color);
            }
        }

        &:not(:last-child) {
            margin-right: .6125rem;
        }
    }
}